.EquipmentItem {
    display: flex;
    gap: 8px;
    padding: 12px 18px;
    align-items: center;
    background-color: var(--color-badges);
    width: fit-content;
    border-radius: 100px;
    color: var(--color-main);
}

.EquipmentItem svg {
    width: 20px;
    height: 20px;
}

.Title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}