.Loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.TruckList {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.TruckItem {
    display: flex;
    padding: 24px;
    gap: 24px;
    border-radius: 20px;
    border: 1px solid var(--color-gray-light);
}

.Image {
    width: 35%;
    border-radius: 10px;
}

.Content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Title */
.Header .Title {
    flex: 1;
    display: flex;
    align-items: center;
}

.Title .Name {
    flex: 1;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.Title .Price {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.Title .FavoriteButton {
    padding: 0;
    margin: 0 12px
}

/* Subtitle */
.Header .SubTitle {
    display: flex;
    align-items: center;
    gap: 16px;
}

.SubTitle .Reviews,
.SubTitle .Location {
    display: flex;
    gap: 4px;
    align-items: center;
    color: var(--color-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.Body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.Body .Description {
    width: 100%;
    max-width: 600px;
    white-space: nowrap;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--color-text);
}

.Body .Equipment {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.Footer {
    margin-block: 24px;
}

.Footer .Button {
    padding: 16px 40px;
    background-color: var(--color-button-hover);
    color: var(--color-white);
    border-radius: 200px;
}

.LoadMoreButton {
    color: var(--color-main);
    width: fit-content;
    padding: 16px 32px;
    border-radius: 200px;
    margin: 0 auto;
    border: 1px solid var(--color-gray-light);
}