.Filters {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Filters .Title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #475467;
}